* {
  box-sizing: border-box;
}
.header {
  position: fixed;
  min-width: 100%;
  padding: 10px;
  top: 0;
  left: 0;
  min-height: 100px;
  background: linear-gradient(
    90deg,
    rgb(205, 240, 248) 0%,
    rgb(108, 224, 245) 52%,
    rgb(2, 122, 131) 100%
  );
}

.is-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: steelblue;
  border-block-color: #00f;
  font-weight: 700;
  font-size: medium;
  font-style: italic;
  cursor: pointer;
  height: 36px;
  width: 120px;
  border-radius: 5px;
}

button:hover,
button:focus {
  background-color: blueviolet;
}
.search-form {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  padding: 24px 10px;
  gap: 32px;
  align-items: center;
  justify-content: center;
}
input {
  min-height: 40px;
  width: 320px;
  padding: 10px 20px;
  border-radius: 5px;
  border-block-color: blue;
  font-style: italic;
  font-size: medium;
  background-color: aliceblue;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 120px 20px;
  justify-content: space-between;
  gap: 30px;
}
.gallery:not(:last-child) {
  margin-bottom: 30px;
}
.photo-card {
  object-fit: contain;
  flex-basis: calc((100% - 2 * 30px) / 3);
}

.photo-card img {
  display: block;
  width: 100%;
  border: 1px solid blue;
}
.info {
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  display: flex;
  font-style: italic;
  font-size: medium;
  color: rgb(8, 8, 80);
}

.gallery_link {
  display: block;
}
.load-more {
  margin: 30px auto;
  background-color: rgb(50, 32, 209);
}
.hidden {
  top: -100%;
}
